<div class="dashboard-wrapper">
  
    <div class="container task-card">
      <h2>Minhas Tarefas</h2>
      
      <app-task-filter (filterEvent)="filterTask($event)"></app-task-filter>
  
      <ul class="task-list">
        <li *ngFor="let task of filteredTasks" class="task-item">
          <label class="checkbox-container">
              <input type="checkbox" [(ngModel)]="task.completed" (change)="updateTask()">
              <span class="checkmark"></span>
          </label>
          
          <div class="task-info">
              <span 
                  [class.completed-text]="task.completed" 
                  class="task-name clickable"
                  (click)="openTaskDetails(task)">
                  {{ task.name }}
              </span>
              <small class="task-date">{{ task.dueDate | date:'dd/MM' }}</small>
          </div>
          
          <button (click)="removeTask(task)" class="btn-icon">&times;</button>
        </li>
      </ul>
  
      <div class="add-task-group separator-top">
        <input 
          [(ngModel)]="newTask.name" 
          (keyup.enter)="addTask()" 
          placeholder="Nova tarefa..." 
          class="input-primary"
        >
        
        <input 
          type="date" 
          [ngModel]="newTask.dueDate | date:'yyyy-MM-dd'" 
          (ngModelChange)="newTask.dueDate = $event" 
          (keyup.enter)="addTask()"
          class="input-date"
        >
        
        <button (click)="addTask()" class="btn-primary">+</button>
      </div>
  
    </div>
  
    <div class="container calendar-card">
      <div class="calendar-header">
        <button (click)="changeMonth(-1)" class="btn-nav">&#8249;</button>
        <h3>{{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</h3>
        <button (click)="changeMonth(1)" class="btn-nav">&#8250;</button>
      </div>
  
      <div class="calendar-grid">
        <div *ngFor="let day of weekDays" class="weekday">{{ day }}</div>
        
        <div *ngFor="let dayObj of daysInMonth" 
             class="day-cell" 
             [class.empty]="!dayObj.date"
             [class.has-task]="dayObj.hasTask">
             
          <span *ngIf="dayObj.date">{{ dayObj.date }}</span>
          <div *ngIf="dayObj.hasTask" class="dot"></div>
        </div>
      </div>
    </div>
  
  </div>